/** Global */
body{
    color: #f6f3f2;
    min-height: 100vh;
    display: grid;
}
.dark-btn{
    background-color: #a92e23;
    color: white;
    font-size: 20px;
    font-weight: 600; 
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}
.txt-center{
    text-align: center;
}
/* **********/





/** Navigation Bar */
nav{
    display: flex;
    align-items: center;
    padding: 0px 50px;
    background-color: #d33a2c;
    font-size: 20px;
    font-weight: 600;
}
.brand-logo{
    margin-right: 50px;
}
.navbar-links{
    display: flex;
}
.nav-item{
    margin-right: 30px;
    padding: 15px 20px;
    border-radius: 10px;
}
.nav-item:hover{
    background-color: #a92e23;
}
/* ***************** */


/** Page Content */
/* ************* */




/** Footer */
footer{
    background-color: #d33a2c;
    align-self: end;
    padding: 20px 50px;
}
footer small{
    display: inline-block;
    padding: 0 380px
}
.topics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    margin: 30px 0;
}
.topic-item{
    margin-right: 25px;
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.topic-item::before{
    font-size: 25px;
    content: "•";
    color: #a92e23;
    margin-right: 8px;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    padding: 0 340px;
}
.footer-item{
    margin-right: 15px;
    line-height: 2.5;
}
.footer-item a{
    border-bottom: 2px solid white;
}
/* ********* */
