/** Global */
body{
    background-color: #f6f3f2;
    color: #f6f3f2;
    min-height: 100vh;
    display: grid;
}
.dark-btn{
    background-color: #a92e23;
    color: white;
    font-size: 20px;
    font-weight: 600; 
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
}
.light-btn{
    color: #267dcd;
    background-color: white;
    font-size: 20px;
    font-weight: 600; 
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.txt-center{
    text-align: center;
}
.layout-2cols{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.layout-3cols{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* **********/





/** Navigation Bar */
nav{
    display: flex;
    align-items: center;
    padding: 18px 50px;
    background-color: #d33a2c;
    font-size: 20px;
    font-weight: 600;
}
.brand-logo{
    margin-right: 50px;
}
.navbar-links{
    display: flex;
}
.nav-item{
    margin-right: 30px;
    padding: 15px 20px;
    border-radius: 10px;
}
.nav-item:hover{
    background-color: #a92e23;
}
/* ***************** */


/** Page Content */

/*==== Main Articles ====*/
#main-articles{
    color: white;
    position: relative;
    display: grid;
}
#main-articles article{
    padding: 45px 50px;
}
#main-articles figure{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
#main-articles .article-title{
    font-size: 40px;
    line-height: 1.2;
    word-spacing: 5px;
    margin-bottom: 15px;
}
#main-articles .comment{
    font-weight: 600;
    margin-bottom: 40px;
}
.hashtags-list{
    display: flex;
}
.hashtag-item{
    margin-right: 20px;
}
.hashtag-item::before{
    font-weight: 600;
    content: '#';
    color: #61140f;
    margin-right: 8px;
}
.img-box{
    width: 60px;
    height: 60px;
    border: 2px solid white;
    margin-right: 20px;
    border-radius: 10px;
    rotate: -20grad;
}
#main-articles article:nth-child(n){
    background-color: #bc3428;
}
#main-articles article:nth-child(2n){
    background-color: #c7372a;
}
#main-articles article:nth-child(3n){
    background-color: #b13125;
}
#main-articles article:nth-child(4n){
    background-color: #bc3428;
}
#main-articles article:nth-child(1),
#main-articles article:nth-child(2){
    padding-top: 200px;
}
.art-header-wrapper{
    position: absolute;
    justify-self: center;
    color: #333333;
    font-size: 36px;
    font-weight: 600;  
    margin-top: 40px;
}
.art-header-wrapper span{
    background: white;
    display: inline-block;
    padding: 10px;
}
/*==== Sub Articles ====*/
.sub-articles{
    margin: 0 50px;
    padding: 40px 0;
    column-gap: 40px;
    justify-content: space-between;
}
.article-sm .date,
.article-sm .author{
    color: #666666;
    margin-bottom: 15px;
}
.article-sm h1{
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 1.2;
}
.article-sm .author{
    font-weight: 600;
}
.article-sm p{
    color: #333333;
    line-height: 1.8;
}
.article-sm{
    transition: all 0.4s;
    padding: 10px 20px;
    color: black;
}
.article-sm:hover{
    transform: scale(1.1);
    background-color: white;
    box-shadow: 1px 0px 5px 0px rgba(50, 50, 50, 0.75);
}
.article-sm:hover h1{
    color: #d33a2c;
}

/*==== Extra-info ====*/
.extra-info{
    grid-template-columns: 1fr 2fr;
    margin: 0 50px;
}
.extra-info aside{
    background-color: #d33a2c;
    border-radius: 10px;
    padding: 50px 180px;
}
.extra-info aside h1,
.extra-info aside p{
    margin-bottom: 30px;
}
.extra-info aside h1{
    font-size: 40px;
    color: white;
}
.extra-info p{
    font-size: 18px;
    line-height: 1.8;
}
.extra-info aside small{
    margin-top: 30px;
    display: block;
}



/* ************* */


/** Footer */
footer{
    background-color: #d33a2c;
    align-self: end;
    padding: 20px 50px;
}
footer small{
    display: inline-block;
    padding: 0 380px
}
.topics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    margin: 30px 0;
}
.topic-item{
    margin-right: 25px;
    display: flex;
    align-items: center;
    padding: 8px 0;
}
.topic-item::before{
    font-size: 25px;
    content: "•";
    color: #a92e23;
    margin-right: 8px;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
    padding: 0 340px;
}
.footer-item{
    margin-right: 15px;
    line-height: 2.5;
}
.footer-item a{
    border-bottom: 2px solid white;
}
/* ********* */
